*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: 'AxiForma', sans-serif ;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: "AxiForma" ;
    src: url(../assets/Axiforma.otf)
}


/* variaveis CSS */
    :root {
 --bg-primary: #041643;
 --color-primary: #1352F1;
 --color-white: #FFF;

/* gradiente cinza */
 --gray: #4E4E4E ;
 --dark-gray: #696969;
 --light-gray: #AFAFAF;
 --lighter-gray: #d7d7d7;


   }

body{
    display: flex;
    flex-direction: column;
justify-content: space-between;
background-color: var(--bg-primary);
background-image: url(../assets/gradient.svg);
background-size: 105vh;
background-repeat: no-repeat;
padding: 91px 123px 30px;
height: 100vh ; /* viewport/ */
}

section{
     margin-top: 100px;
    display: flex;
    gap: 100px;
    justify-content: space-between;
    height: 100%;
    flex-wrap: wrap;
}

.div-intro{
    flex: 1;
    padding:50px 30px  ;
    width: 343.33px;
    border: 1px solid red;
}

.div-intro > h1 {
    /* width: 230px; */
    width: 12ch; /* character */
    margin-bottom: 23px;
}

.div-intro > p {
    color: var(--light-gray);
}

form{
    flex: 1;
    background-color: var(--color-white);
    width: 343.33px;
    padding: 50px 30px;
    border-radius: 16px;
}

form label, form input {
font-size: 9px;
color: var(--dark-gray);
}

form input {
    width: 100%;
    border:1px solid var(--lighter-gray) ;
    color: var(--lighter-gray);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 24px;
}

/* ::pseudo-element */
form input::placeholder{
    color: var(--lighter-gray);
}

.div-link-btn{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-cadastro {
    font-size: 10px;
    color: var(--gray);
}

.link-cadastro a {
    font-weight: 600;
    color: var(--gray);
}

.button {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 10px 37px;
    border-radius: 5px;
    font-size: 9px;
}

footer > p {
    color: var(--color-white);
    text-align: center;
}